<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="alpha.commands"
            name="Alpha">
      </category>
         
      <wizard
            category="alpha.commands"
            class="alpha.commands.ui.AlphaProjectWizard"
            hasPages="true"
            icon="icons/alpha.gif"
            id="alpha.commands.project"
            name="Alpha Project"
            project="true">
      </wizard>
      
      <wizard
            category="alpha.commands"
            class="alpha.commands.ui.AlphaScriptWizard"
            hasPages="true"
            icon="icons/alpha.gif"
            id="alpha.commands.script"
            name="Alpha Script">
      </wizard>
      
      <wizard
            category="alpha.commands"
            class="alpha.commands.ui.AlphaProgramWizard"
            hasPages="true"
            icon="icons/alpha.gif"
            id="alpha.commands.program"
            name="Alpha Program">
      </wizard>
         
   </extension>
</plugin>
