<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleC -->
      <package
            uri="alpha.codegen"
            class="alpha.codegen.CodegenPackage"
            genModel="model/simpleC.xcore"/>
   </extension>

</plugin>
